.App {
  text-align: center;
  padding: 20px;
}

input {
  margin: 5px;
  padding: 5px;
  width: 200px;
  height: 30px;
}

button {
  margin: 5px;
  font-size: 16px;
  padding: 5px;
  width: 100px;
  height: 30px;
  color: red;
  font-weight: bold;
  cursor: pointer;
}